

{% extends 'base.html' %}

{% block title %} Login {% endblock %}
{% block content %}
<div class="h-screen font-sans login bg-cover">
<div class="container mx-auto h-full flex flex-1 justify-center items-center">
    <div class="w-full max-w-lg">
      <div class="leading-loose">
        <form class="max-w-sm m-4 p-10 bg-white bg-opacity-25 rounded shadow-xl" method="POST">
			{% csrf_token %}
            <p class="text-white font-medium text-center text-lg font-bold">Log in to your account</p>

			{% for field in form %}
	    	{{field.label_tag}}
	        	{{ field }}
	        	{% if field.errors %}
	        		 <div class="invalid-feedback text-danger">
					 <small>{{ field.errors|striptags  }}</small>
				  </div>
	        	{% endif %}
		{% endfor %}

              <div class="mt-4 items-center flex justify-between">
                <button class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 hover:bg-gray-800 rounded"
                  type="submit">Login</button>
                <a class="inline-block right-0 align-baseline font-bold text-sm text-500 text-white hover:text-red-400"
                  href="{% url 'password_reset' %}">Forgot Password ?</a>
              </div>
              <div class="text-center">
                <a href="{% url 'sign_up' %}" class="inline-block right-0 align-baseline font-light text-sm text-500 hover:text-red-400">
                    No account yet? Sign up
                </a>
              </div>

        </form>

      </div>
    </div>
  </div>
</div>
<script>
	document.getElementById('id_email').classList.add('w-full', 'px-5', 'py-1', 'text-gray-700', 'bg-gray-300', 'rounded', 'focus:outline-none', 'focus:bg-white')
</script>
<style>
  .login{
  /*
    background: url('https://tailwindadmin.netlify.app/dist/images/login-new.jpeg');
  */
  background: url('http://bit.ly/2gPLxZ4');
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
{% endblock %}

