
                <li>
                    <a class="hover:bg-gray-500 hover:bg-opacity-10 hover:text-blue-600 flex items-center text-gray-700 py-1.5 px-4 rounded space-x-2 cursor-pointer">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                        </svg>
                        <span>Snoozed</span>
                    </a>
                </li>
                <li>
                    <a class="hover:bg-gray-500 hover:bg-opacity-10 hover:text-blue-600 flex items-center text-gray-700 py-1.5 px-4 rounded space-x-2 cursor-pointer">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z"></path>
                        </svg>
                        <span>Important</span>
                    </a>
                </li>
                <li>
                    <a class="hover:bg-gray-500 hover:bg-opacity-10 hover:text-blue-600 flex items-center text-gray-700 py-1.5 px-4 rounded space-x-2 cursor-pointer">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 rotate-90" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"></path>
                        </svg>
                        <span>Sent</span>
                    </a>
                </li>
                <li>
                    <a class="hover:bg-gray-500 hover:bg-opacity-10 hover:text-blue-600 flex items-center justify-between text-gray-700 py-1.5 px-4 rounded space-x-2 cursor-pointer">
                        <span class="flex items-center space-x-2">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"></path>
                            </svg>
                            <span>Drafts</span>
                        </span>
                        <span class="bg-sky-500 text-gray-100 font-bold px-2 py-0.5 text-xs rounded-lg">1</span>
                    </a>
                </li>
                <li>
                    <a class="hover:bg-gray-500 hover:bg-opacity-10 hover:text-blue-600 flex items-center text-gray-700 py-1.5 px-4 rounded space-x-2 cursor-pointer">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"></path>
                        </svg>
                        <span>Spam</span>
                    </a>
                </li>
                <li>
                    <a class="hover:bg-gray-500 hover:bg-opacity-10 hover:text-blue-600 flex items-center text-gray-700 py-1.5 px-4 rounded space-x-2 cursor-pointer">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path>
                        </svg>
                        <span>Trash</span>
                    </a>
                </li>





                 <div class="relative flex items-center px-0.5 space-x-0.5">
                    <input @click="checkAll = !checkAll" type="checkbox" class="focus:ring-0">
                    <button @click="filterMessages = !filterMessages">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                        </svg>
                    </button>
                    <div x-show="filterMessages" @click.away="filterMessages = false" class="bg-gray-200 shadow-2xl absolute left-0 top-6 w-32 py-2 text-gray-900 rounded z-10" style="display: none;">
                        <button @click="filterMessages = false" class="w-full text-sm py-1 hover:bg-blue-600 hover:bg-opacity-30">
                            All
                        </button>
                        <button @click="filterMessages = false" class="w-full text-sm py-1 hover:bg-blue-600 hover:bg-opacity-30">
                            None
                        </button>
                        <button @click="filterMessages = false" class="w-full text-sm py-1 hover:bg-blue-600 hover:bg-opacity-30">
                            Read
                        </button>
                        <button @click="filterMessages = false" class="w-full text-sm py-1 hover:bg-blue-600 hover:bg-opacity-30">
                            Unread
                        </button>
                        <button @click="filterMessages = false" class="w-full text-sm py-1 hover:bg-blue-600 hover:bg-opacity-30">
                            Starred
                        </button>
                        <button @click="filterMessages = false" class="w-full text-sm py-1 hover:bg-blue-600 hover:bg-opacity-30">
                            Unstarred
                        </button>
                    </div>
                </div>






                <!--<div class="flex items-center">-->
<!--  <div class="group relative mx-auto w-96 h-50 overflow-hidden rounded-[0px]  p-[1px] transition-all duration-300 ease-in-out hover:bg-gradient-to-r hover:from-indigo-500 hover:via-purple-500 hover:to-pink-500">-->
<!--    <div class="group-hover:animate-spin-slow invisible absolute -top-40 -bottom-40 left-10 right-10 bg-gradient-to-r from-transparent via-white/90 to-transparent group-hover:visible"></div>-->
<!--    <div class="relative rounded-[0px] bg-white p-6">-->
<!--      <div class="space-y-4">-->
<!--        <p class="text-lg font-semibold text-slate-800">{{file.title}}</p>-->
<!--        <p class="font-md text-slate-500">{{file.description}}</p>-->
<!--      </div>-->

<!--        <div class="space-y-3 my-5">-->
<!--            <a href="{{ file.get_absolute_url }}">-->
<!--                <button class="button px-5 py-2  w-50 rounded bg-blue-800 text-white">Preview</button>-->
<!--            </a>-->

<!--            <a href="{{ file.get_download_url }}">-->
<!--                <button class="button px-5 py-2  w-50 rounded bg-gray-300 text-white">Download</button>-->
<!--            </a>-->

<!--            <a href="{{ file.get_email_url }}">-->
<!--                <button class="button px-5 py-2  w-50 rounded bg-blue-800 text-white">Email</button>-->
<!--            </a>-->
<!--        </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->